<header class="header">
    <div class="header__content">
        <button class="header__button" id="button__menu">
            <i class="fa-solid fa-bars header__icon"></i>
        </button>
        <h1 class="header__title">LuDev ToDo</h1>
        <a class="header__button" href="/user/logout">
            <i class="fa-solid fa-right-from-bracket header__icon"></i>
        </a>
    </div>
</header>
