<header>
    <nav class="nav">
        <div id="div-menu" class="div-btn-icon">
            <button id="btn-menu" class="btn-transparent">
                <i class="fa-solid fa-bars nav-icon"></i>
            </button>
        </div>
        <div id="div-h1">
            <h1>
                <span class="resizable-txt">LuDev</span>
                <span class="resizable-txt">ToDo</span>
            </h1>
        </div>
        <div id="div-user" class="div-btn-icon">
            <button id="btn-user" class="btn-transparent">
                <i class="fa-solid fa-user nav-icon"></i>
            </button>
        </div>
    </nav>
</header>
