<div class="layout">
    <%- include('menu.ejs') %>
    <main class="main">
        <%- include('description.ejs') %> <%- include('create-task.ejs') %>
        <%-include('tasks.ejs') %>
    </main>
</div>
