<ul class="tasks-list">
    <% for (let task of allTasks) { %>
    <li class="task-item">
        <a class="task-status" type="button" title="Mark as done"> </a>
        <h3 class="task-name"><%= task.name %></h3>
        <p class="task-date">Created at: <%= task.createdAt %></p>
        <p class="task-date">Completion date: <%= task.completionDate %></p>
        <button class="add-to-imp">
            <i
                class="fa-regular fa-star menu-icon"
                title="Add to important"
            ></i>
        </button>
    </li>
    <% } %>
</ul>
