<ul class="tasks-list">
    <% for (let task of allTasks) { %>
    <li class="task-item">
        <h3 class="task-name"><%= task.name %></h3>

        <div class="task-info">
            <p class="info-field">Created at: <%= task.createdAt %></p>
            <p class="info-field">Due date: <%= task.completionDate %></p>
            <p>Stauts: <span class="span-status">In progress</span></p>
        </div>

        <div class="task-actions">
            <a href="">Edit</a>
            <a href="">Delete task</a>
            <a href="">Important</a>
        </div>
    </li>
    <% } %>
</ul>
