<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <script
            src="https://kit.fontawesome.com/de28e9df45.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="body">
        <header class="header">
            <nav class="nav">
                <div class="nav__content">
                    <a
                        class="nav__button nav__button--signin"
                        href="/auth/login"
                    >
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Sign in
                    </a>
                    <a
                        class="nav__button nav__button--signup"
                        href="/auth/signup"
                        >Sign up</a
                    >
                </div>
            </nav>
        </header>
        <main class="main">
            <div class="main__content">
                <div class="main__title-container">
                    <img
                        class="main__title-image"
                        src="/images/checkImg.png"
                        alt="Check tick image"
                    />
                    <h1 class="main__title">
                        <span class="main__title-span main__title-span--task"
                            >LuDev</span
                        >
                        <span class="main__title-span main__title-span--manager"
                            >ToDo</span
                        >
                    </h1>
                </div>
                <div class="main__image-container">
                    <img
                        class="main__image main__image--left"
                        src="/images/man-pc.png"
                        alt="Black and white man image"
                    />
                </div>
                <div class="main__image-container main__image-container--right">
                    <img
                        class="main__image main__image--right"
                        src="/images/woman-pc.png"
                        alt="Black and white woman image"
                    />
                </div>
            </div>
        </main>
        <footer class="footer">
            <!-- Footer content  -->
        </footer>
    </body>
</html>
