<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/assets/css/main-styles.css" />
        <script
            src="https://kit.fontawesome.com/de28e9df45.js"
            crossorigin="anonymous"
        ></script>
        <script defer src="/assets/js/main-script.js"></script>
    </head>
    <body class="body">
        <header>
            <nav class="nav">
				<div class="div-auth">
					<a class="button-auth" href="/auth/login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Sign in
					</a>
                    <a class="button-auth" href="/auth/signup">
                        Sign up
					</a>
				</div>
                    
            </nav>
        </header>
        <hr class="separator" />
        <main class="main">
                <div class="div-title">
                    <img src="/images/checkImg.png" alt="Check tick image" />
                    <h1 class="h1">
                        <span class="span-task">Task</span><span class="span-manager">Manager </span>
                    </h1>
                </div>
                <div class="image-left">
                    <img src="/images/man-pc.png" alt="Black and white man image"
                    />
                </div>
                <div class="image-right">
                    <img src="/images/woman-pc.png" alt="Black and white women image"/>
                </div>
        </main>
        <footer>
            <!-- Footer content  -->
        </footer>
    </body>
</html>
