@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import url('https://fonts.cdnfonts.com/css/tajawal');

:root {
  --color-lightGrey: #d3d6cf;
  --color-grey: #a9aca9;
  --color-font: #2f2235;
  --color-background3: #f8f8f3;
  --color-lightPurple: #60495a;
  --color-purple: #3f3244;
}

* {
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: var(--color-grey);
  user-select: none;
  display: grid;
  place-items: center;
}

.auth-container {
  padding: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--color-background3);
}

.auth-heading {
  color: var(--color-lightPurple);
  font-size: 3rem;
}

.auth-form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.input-group {
  width: 80%;
}

.label {
  color: var(--color-font);
  display: block;
  margin-bottom: 5px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}

.auth-btn {
  font-size: 1.5rem;
  width: 60%;
  padding: 10px;
  background-color: var(--color-purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: var(--color-lightPurple);
}
