@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import url('https://fonts.cdnfonts.com/css/tajawal');

:root {
  --color-lightGrey: #d3d6cf;
  --color-grey: #a9aca9;
  --color-font: #2f2235;
  --color-background3: #f8f8f3;
  --color-lightPurple: #60495a;
  --color-purple: #3f3244;
}

* {
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.body {
  background-color: var(--color-lightGrey);
  user-select: none;
  overflow: hidden;
}

.nav {
  height: 60px;
  background-color: var(--color-grey);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 50px;
  transition: padding 0.3s ease;
}

.div-auth {
  display: flex;
  gap: 5px;
}

.button-auth {
  width: 100px;
  height: 40px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: var(--color-lightPurple);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-auth:hover {
  background-color: var(--color-purple);
}

.button-auth:focus {
  outline: none;
  box-shadow: none;
}

.separator {
  border: none;
  height: 2px;
  background-color: var(--color-lightPurple);
}

.main {
  height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
  align-items: start;
}

.div-title {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: top 0.3s ease;
}

.div-title img {
  width: 150px;
}

.h1 {
  line-height: 1.4;
}

.h1 span {
  font-size: 80px;
}

.span-task {
  color: var(--color-lightPurple);
}

.span-manager {
  color: var(--color-purple);
}

.image-left {
  position: absolute;
  top: 35%;
  left: 15%;
  animation: appearFromLeft 2s ease;
}

.image-left img {
  width: 500px;
  position: relative;
  top: 50%;
}

.image-right {
  position: absolute;
  top: 36%;
  right: 10%;
  animation: appearFromRight 2s ease;
}

.image-right img {
  width: 500px;
  position: relative;
  top: 51%;
}

@keyframes appearFromLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 15%;
  }
}

@keyframes appearFromRight {
  0% {
    right: -100%;
  }

  100% {
    right: 10%;
  }
}
