@import url('https://fonts.cdnfonts.com/css/tajawal');

:root {
  --color-grey: #a9aca9;
  --color-light-grey: #d3d6cf;
  --color-dark-purple: #2f2235;
  --color-purple: #3f3244;
  --color-light-purple: #60495a;
  --color-light-purple-2: #7b6676;
  --color-light: #dad5d8;
  --color-light-two: #f6f6f6;
  --color-light-three: #ffffffb2;
}

* {
  font-family: 'Tajawal', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--color-light-grey);
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.header {
  background-color: var(--color-purple);
  border-bottom: 4px solid var(--color-dark-purple);
}

.nav {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 50px;
}

.nav__content {
  display: flex;
  gap: 10px;
}

.nav__button {
  width: 100px;
  height: 40px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-dark-purple);
  background-color: var(--color-light-two);
  text-decoration: none;
}

.nav__button:hover {
  background-color: var(--color-light-grey);
}

.main {
  height: 100%;
  display: grid;
}

.main__content {
  height: 100%;
  width: 70%;
  place-self: center;
}

.main__title-container {
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main__title-image {
  width: 170px;
}

.main__title {
  font-size: 5rem;
  line-height: 0.9;
}

.main__title-span--task {
  color: var(--color-light-purple);
}

.main__title-span--manager {
  color: var(--color-purple);
}

.main__image-container {
  max-width: fit-content;
}

.main__image {
  width: 500px;
}

.main__image--right {
  top: 40%;
  right: 10%;
  position: absolute;
  animation: appearFromRight 1.3s normal;
}

.main__image--left {
  top: 40%;
  left: 15%;
  position: absolute;
  animation: appearFromLeft 1s ease;
}

@keyframes appearFromLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 15%;
  }
}

@keyframes appearFromRight {
  0% {
    right: -100%;
  }

  100% {
    right: 10%;
  }
}
