@import url('https://fonts.cdnfonts.com/css/tajawal');

:root {
  --color-grey: #a9aca9;
  --color-light-grey: #d3d6cf;
  --color-dark-purple: #2f2235;
  --color-purple: #3f3244;
  --color-light-purple: #60495a;
  --color-light-purple-2: #7b6676;
  --color-light: #dad5d8;
  --color-light-two: #f6f6f6;
  --color-light-three: #ffffffb2;
}

* {
  font-family: 'Tajawal', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-grey);
  width: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
}

/* ERROR STYLES */

.error {
  width: 100%;
  display: grid;
}

.error__msg {
  color: var(--color-dark-purple);
  font-size: 1.5rem;
  place-self: center;
  padding: 5px;
  background-color: var(--color-light-purple-2);
  border-radius: 2px;
}

/* GENERAL CLASSES */

.active {
  background-color: var(--color-light-purple);
  color: var(--color-light);
}

.hidden {
  display: none;
}

/* ICON STYLES */

.nav__icon {
  text-align: center;
  font-size: 1.1rem;
  width: 2rem;
}

.description__icon {
  color: var(--color-dark-purple);
  width: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

/* HEADER STYLES */

.header {
  background-color: var(--color-purple);
  border-bottom: 4px solid var(--color-dark-purple);
}

.header__content {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  font-size: 2rem;
  width: 2.1rem;
  text-align: center;
  color: var(--color-light-two);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__button:hover {
  transform: scale(1.1);
}

.header__title {
  line-height: 1.3;
  font-size: 3rem;
  height: 60px;
  color: var(--color-light-two);
  cursor: default;
}

.header__title:hover {
  transform: scale(1.1);
}

/* LAYOUT */

.layout {
  display: flex;
  height: 100%;
}

/* NAV MENU */

.nav {
  height: 100%;
  min-width: fit-content;
  width: 15%;
  border-right: 4px solid var(--color-dark-purple);
  background-color: var(--color-light-purple-2);
}

.nav__list {
  height: 100%;
}

.nav__item {
  height: 50px;
}

.nav__button {
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-dark-purple);
}

.nav__button:hover {
  background-color: var(--color-light-purple);
  color: var(--color-light);
}

.nav__text {
  font-size: 1.2rem;
  font-weight: 500;
}

/* MAIN STYLES */

.main {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* DESCRIPTION STYLES */

.description {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.description__title {
  font-size: 1.5rem;
  color: var(--color-dark-purple);
}

.description__date {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-light-purple);
}

/* CREATE TASK STYLES */

.create-task {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: var(--color-light-three);
  box-shadow: 0px 0px 4px var(--color-dark-purple);
}

.form__task {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, max-content) auto;
  grid-template-rows: auto;
}

.input__div {
  padding: 2px 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  border-bottom: 2px solid var(--color-dark-purple);
  color: var(--color-dark-purple);
  font-weight: bold;
}

.input__div-name {
  grid-column: span 4;
}

.input__div-date,
.input__div-priority,
.input__div-category {
  grid-column: span 1;
}

.create-task__input {
  background-color: transparent;
  color: var(--color-light-purple);
  font-weight: 500;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.create-task__input:hover:not(.task__name) {
  background-color: var(--color-light-grey);
}

.create-task__button {
  width: 80px;
  border-radius: 2px;
  border: 2px solid var(--color-dark-purple);
  background-color: var(--color-light-purple-2);
  justify-self: right;
  color: var(--color-dark-purple);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.create-task__button:hover {
  background-color: var(--color-light-purple);
  color: var(--color-light-three);
}

.task__name {
  width: 100%;
  cursor: text;
  font-size: 1.2rem;
}

/* TASK ITEM */

.tasks {
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.tasks__grid {
  display: grid;
  grid-template-columns: minmax(200px, auto) repeat(3, 100px) 170px 100px;
  align-items: center;
}

.tasks__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tasks__header {
  padding: 5px;
  background-color: var(--color-light-three);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-dark-purple);
  text-align: center;
  min-height: 30px;
  box-shadow: 0px 0px 4px var(--color-dark-purple);
  border-radius: 2px;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tasks__item {
  cursor: default;
  padding: 5px;
  list-style: none;
  min-height: 40px;
  background-color: var(--color-light-three);
  box-shadow: 0px 0px 4px var(--color-light-purple);
  border-radius: 2px;
}

.tasks__item:hover {
  background-color: var(--color-light);
}

.tasks__data {
  color: var(--color-dark-purple);
  text-align: center;
  align-content: center;
  padding: 1px;
  height: 100%;
}

.tasks__name {
  justify-self: left;
  word-break: break-all;
}

.tasks__button {
  text-decoration: none;
  padding: 0 4px;
  border-radius: 2px;
  justify-self: right;
  color: var(--color-dark-purple);
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
}

.tasks__button:hover {
  color: var(--color-light-purple);
}

/* EDIT TASK STYLES */

.edit {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
}

.edit__content {
  place-self: center;
  width: 400px;
  background: var(--color-light-grey);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #333;
  user-select: none;
}

.edit__close {
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: end;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 2px solid var(--color-light-purple);
  border-radius: 2px;
  cursor: pointer;
}

.edit__close i {
  font-size: 24px;
  text-align: center;
  color: var(--color-light-purple);
  transition: transform 0.3s ease;
  border: none;
  outline: none;
}

.edit__close i:hover {
  transform: rotate(90deg);
}

.edit__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form__elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit__input-group {
  border: 2px solid var(--color-light-purple-2);
  border-radius: 2px;
  box-shadow: 0px 0px 2px #333;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.edit__input-group label,
.edit__input-group input,
.edit__input-group select {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  outline: none;
  font-weight: 500;
  color: var(--color-light-purple);
  cursor: pointer;
}

.edit__input-group label {
  color: #222;
  cursor: default;
}

.input__name {
  width: 100%;
}

.edit__submit {
  margin: 20px;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  background-color: var(--color-light-purple);
  color: var(--color-light-two);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.edit__submit:hover {
  transform: scale(1.1);
}
